* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Lato-Regular"; }

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .container .panel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .container .panel#header {
      background-color: #CD5554; }
      .container .panel#header .next {
        color: white; }
        .container .panel#header .next::after {
          background-color: white; }
    .container .panel#include-v2 {
      background-color: #313D4B;
      color: white;
      flex-direction: row; }
      .container .panel#include-v2 .next {
        color: white; }
        .container .panel#include-v2 .next::after {
          background-color: white; }
      .container .panel#include-v2 .button a {
        color: white; }
      .container .panel#include-v2 .button:hover {
        background-color: white;
        color: #313D4B; }
        .container .panel#include-v2 .button:hover a {
          color: #313D4B; }
      .container .panel#include-v2 .img {
        background-image: url("../data/img/cover_include_2.jpg"); }
    .container .panel#include-v1 {
      background-color: #6ABE83;
      color: white;
      flex-direction: row; }
      .container .panel#include-v1 .next {
        color: white; }
        .container .panel#include-v1 .next::after {
          background-color: white; }
      .container .panel#include-v1 .button a {
        color: white; }
      .container .panel#include-v1 .button:hover {
        background-color: white;
        color: #6ABE83; }
        .container .panel#include-v1 .button:hover a {
          color: #6ABE83; }
      .container .panel#include-v1 .img {
        background-image: url("../data/img/cover_include_1.jpg");
        background-color: #dde0e5; }
    .container .panel#tumblr-v2 {
      background-color: #21A8A3;
      color: white; }
      .container .panel#tumblr-v2 .next {
        color: white; }
        .container .panel#tumblr-v2 .next::after {
          background-color: white; }
      .container .panel#tumblr-v2 .information .ctn-buttons .button {
        background-color: #21A8A3;
        border-color: white; }
        .container .panel#tumblr-v2 .information .ctn-buttons .button a {
          color: white; }
        .container .panel#tumblr-v2 .information .ctn-buttons .button:hover {
          background-color: white; }
          .container .panel#tumblr-v2 .information .ctn-buttons .button:hover a {
            color: #21A8A3; }
      .container .panel#tumblr-v2 .img {
        background-image: url("../data/img/tumblr_include.jpg");
        background-color: #FAFAFA; }
    .container .panel#include-v3 {
      background-color: #232323;
      color: white;
      flex-direction: row; }
      .container .panel#include-v3 .next {
        color: white; }
        .container .panel#include-v3 .next::after {
          background-color: white; }
      .container .panel#include-v3 .button a {
        color: white; }
      .container .panel#include-v3 .button:hover {
        background-color: white;
        color: #232323; }
        .container .panel#include-v3 .button:hover a {
          color: #232323; }
      .container .panel#include-v3 .img {
        background-image: url("../data/img/cover_include_3.jpg");
        background-color: #FFFFFF; }
    .container .panel#pinterest-v3 {
      background-color: #C54F99;
      color: white;
      flex-direction: row; }
      .container .panel#pinterest-v3 .next {
        color: white; }
        .container .panel#pinterest-v3 .next::after {
          background-color: white; }
      .container .panel#pinterest-v3 .button a {
        color: white; }
      .container .panel#pinterest-v3 .button:hover {
        background-color: white;
        color: #C54F99; }
        .container .panel#pinterest-v3 .button:hover a {
          color: #C54F99; }
      .container .panel#pinterest-v3 .pinterest [class*="embed_grid"] {
        max-width: 100%;
        min-width: 100%;
        height: 100%; }
    .container .panel header {
      text-align: center;
      position: relative; }
      .container .panel header h1 {
        font-family: "Lato-Bold";
        margin: 0.2rem;
        margin-top: 1rem;
        color: white;
        padding: 0;
        font-size: 4rem; }
      .container .panel header .subtitle {
        font-size: 2rem;
        display: inline;
        padding: 0.5rem;
        color: white; }
    .container .panel .left {
      height: 100%;
      width: 50%;
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center; }
    .container .panel .right {
      height: 100%;
      width: 50%;
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center; }
    .container .panel .img {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #EEEFEA; }
    .container .panel .information {
      font-size: 1.5rem;
      flex-direction: column;
      justify-content: center; }
      .container .panel .information .description {
        min-height: 3rem;
        font-size: 1.2rem;
        max-width: 50rem;
        text-align: center;
        margin: 3rem; }
      .container .panel .information .ctn-buttons {
        display: flex;
        width: 100%;
        max-width: 35rem;
        justify-content: space-around;
        align-items: center;
        flex-direction: row; }
        .container .panel .information .ctn-buttons .button {
          border: 2px solid white;
          padding: 0.5rem 1.5rem;
          cursor: pointer;
          transition: 0.5s; }
          .container .panel .information .ctn-buttons .button:hover {
            transition: 0.5s; }
    .container .panel .next {
      position: absolute;
      bottom: 0;
      padding-bottom: 6rem;
      cursor: pointer;
      text-align: center; }
      .container .panel .next.nleft {
        width: 50%;
        left: 0; }
      .container .panel .next.nright {
        width: 50%;
        left: 50%; }
      .container .panel .next::after {
        content: '';
        background-color: white;
        width: 2px;
        height: 5rem;
        left: calc(50% - 1px);
        bottom: 0;
        position: absolute; }

footer {
  width: 100%; }
  footer p {
    text-align: center; }

@media (max-width: 920px) {
  .container .panel {
    width: 100%; }
    .container .panel#header {
      padding: 2rem; }
      .container .panel#header header h1 {
        font-size: 2rem; }
      .container .panel#header header .subtitle {
        font-size: 1.5rem; }
      .container .panel#header .next p {
        background-color: #232323; }
      .container .panel#header .next p::after {
        border-color: #232323 transparent transparent transparent; }
    .container .panel#include-v1 .img::after {
      border-color: #21A8A3 transparent transparent transparent; }
    .container .panel#include-v1 .next::after, .container .panel#include-v1 .next p {
      background-color: #21A8A3; }
    .container .panel#include-v1 .next p::after {
      border-color: #21A8A3 transparent transparent transparent; }
    .container .panel#include-v2 .img::after {
      border-color: #C54F99 transparent transparent transparent; }
    .container .panel#include-v2 .next::after, .container .panel#include-v2 .next p {
      background-color: #21A8A3; }
    .container .panel#include-v2 .next p::after {
      border-color: #21A8A3 transparent transparent transparent; }
    .container .panel#tumblr-v2 .img::after {
      border-color: #313D4B transparent transparent transparent; }
    .container .panel#tumblr-v2 .next::after, .container .panel#tumblr-v2 .next p {
      background-color: #6ABE83; }
    .container .panel#tumblr-v2 .next p::after {
      border-color: #6ABE83 transparent transparent transparent; }
    .container .panel#include-v3 .img::after {
      border-color: #CD5554 transparent transparent transparent; }
    .container .panel#include-v3 .next::after, .container .panel#include-v3 .next p {
      background-color: #C54F99; }
    .container .panel#include-v3 .next p::after {
      border-color: #C54F99 transparent transparent transparent; }
    .container .panel#pinterest-v3 .img::after {
      border-color: #C54F99 transparent transparent transparent; }
    .container .panel#pinterest-v3 .next::after, .container .panel#pinterest-v3 .next p {
      background-color: #313D4B; }
    .container .panel#pinterest-v3 .next p::after {
      border-color: #313D4B transparent transparent transparent; }
    .container .panel#include-v1, .container .panel#include-v2, .container .panel#tumblr-v2, .container .panel#include-v3, .container .panel#pinterest-v3 {
      flex-direction: column; }
    .container .panel#include-v3, .container .panel#include-v2, .container .panel#include-v1 {
      flex-direction: column-reverse; }
    .container .panel .information {
      width: 100%;
      position: relative; }
      .container .panel .information .description {
        height: auto;
        min-height: 0;
        margin: 0; }
      .container .panel .information .ctn-buttons {
        flex-direction: column; }
        .container .panel .information .ctn-buttons .button {
          margin: 1rem; }
    .container .panel .img, .container .panel .pinterest {
      width: 100%;
      position: relative; }
      .container .panel .img::after, .container .panel .pinterest::after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: black transparent transparent transparent;
        top: 0; }
    .container .panel .next {
      display: inline;
      z-index: 3;
      margin-bottom: 1rem;
      padding-bottom: 0; }
      .container .panel .next.nleft, .container .panel .next.nright {
        width: auto;
        left: 50%;
        transform: translateX(-50%); }
      .container .panel .next p {
        padding: 0.5rem 1.5rem;
        position: relative;
        z-index: 2; }
        .container .panel .next p::after {
          content: '';
          position: absolute;
          z-index: 1;
          bottom: -10px;
          width: 0;
          height: 0;
          right: 0;
          left: 0;
          margin: auto;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          border-color: black transparent transparent transparent; }
      .container .panel .next::after {
        content: none; } }
@font-face {
  font-family: 'Lato-Bold';
  src: url("../data/fonts/Lato-Bold/Lato-Bold.eot");
  src: url("../data/fonts/Lato-Bold/Lato-Bold.woff2") format("woff2"), url("../data/fonts/Lato-Bold/Lato-Bold.woff") format("woff"), url("../data/fonts/Lato-Bold/Lato-Bold.ttf") format("truetype"), url("../data/fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold") format("svg"), url("../data/fonts/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato-Light';
  src: url("../data/fonts/Lato-Light/Lato-Light.eot");
  src: url("../data/fonts/Lato-Light/Lato-Light.woff2") format("woff2"), url("../data/fonts/Lato-Light/Lato-Light.woff") format("woff"), url("../data/fonts/Lato-Light/Lato-Light.ttf") format("truetype"), url("../data/fonts/Lato-Light/Lato-Light.svg#Lato-Light") format("svg"), url("../data/fonts/Lato-Light/Lato-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato-Regular';
  src: url("../data/fonts/Lato-Regular/Lato-Regular.eot");
  src: url("../data/fonts/Lato-Regular/Lato-Regular.woff2") format("woff2"), url("../data/fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../data/fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("../data/fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular") format("svg"), url("../data/fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=master.css.map */
